.carousel-product {
  margin-top: 70px;
}

.carousel-product img {
  height: 400px;
}

.swiper-wriper {
  display: flex;
  justify-content: center;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 164px;
  font-size: 30px;
  z-index: 10;
  cursor: pointer;
}

.carousel-prev {
  right: 560px;
}

.carousel-next {
  left: 580px;
  top: 41%;
}

.carousel-product a {
  font-family: Obviously-Medi;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: -0.88px;
  text-decoration: none;
  padding: 12px 30px;
  background-color: #a0e8b4;
  border-radius: 13px;
}

.carousel-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
