footer {
  background: #394949;
  color: white;
  font-family: HelveticaNeue;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: -0.35px;
  padding: 35px 15px;
}

footer img {
  height: 30px;
}

footer a {
  text-decoration: none;
}

footer,
.col-12,
a {
  font-size: 15px;
}

@media (max-width: 768px) {
  footer a {
    font-size: 8px;
  }
}

footer .col-12 {
  margin-bottom: 40px;
}

.social-pack {
  margin-bottom: 40px;
}
