header {
  margin-bottom: 50px;
}
.header-logo .col {
  background: #394949;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-logo img {
  height: 30px;
}
