header {
  margin-bottom: 50px;
}
.header-logo .col {
  background: #394949;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-packshot {
}

.header-text {
  background-color: #ffff;
  border: 2px solid #0f0f0f;
  padding: 5px;
  font-family: Obviously-Medi;
  font-size: 16px;
  color: #0f0f0f;
  letter-spacing: -0.28px;
}
