.logos {
  margin: 60px 0 60px 0;
}

.logos h2 {
  font-family: Obviously-Medi;
  font-size: 12px;
  color: #3a4f40;
  letter-spacing: 7.02px;
  text-align: center;
  line-height: 19px;
  margin-bottom: 35px;
}

.logos img {
  height: 30px;
}

.logos img {
  display: flex;
  flex-direction: row;
}
