.philosophy {
  margin-top: 45px;
  padding: 50px;
  background: #3a4f40;
}

.philosophy img {
  height: 180px;
  clip-path: circle(40% at 50% 40%);
}

.philosophy h1 {
  font-family: Obviously;
  font-weight: medium;
  font-size: 37px;
  color: #ffffff;
  letter-spacing: 2.32px;
  text-align: center;
  line-height: 48px;
}

@media (min-width: 768px) {
  .philosophy h1 {
    font-family: Obviously;
    font-weight: medium;
    font-size: 55px;
    color: #ffffff;
    letter-spacing: -3.28px;
  }
}

.philosophy p {
  font-family: Americane-Regular;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
}

@media (min-width: 768px) {
  .philosophy p {
    font-family: Americane-Regular;
    font-size: 21px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
  }
}

.phylosophy-line {
  border-top: 2px solid white;
  margin: 50px 140px 50px 140px;
}
