.text-green {
  font-family: Americane-Regular;
  font-size: 20px;
  color: #a0e8b4;
  letter-spacing: 6.14px;
  text-align: center;
}

h1 {
  font-family: Obviously;
  font-weight: medium;
  font-size: 37px;
  color: #0f0f0f;
  text-align: center;
  line-height: 45px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .text-product h1 {
    font-size: 50px;
  }

  .text-product {
    margin-top: 190px;
  }
}

.text-grey {
  font-family: Americane-Regular;
  font-size: 15px;
  color: #7f7f7f;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .text-grey {
    font-size: 25px;
  }
}
