.recipe {
  margin-top: 45px;
}

.recipe p {
  font-family: Obviously-Medi;
  font-size: 15px;
  color: #0f0f0f;
  letter-spacing: -0.66px;
  text-align: center;
  text-decoration: black solid;
}

.taste .col-6 {
  border: black solid 1px;
}
